<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" 
integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="/resetpass.css">
</head>
 
<body >

    <div class="container">
        
        <form action="/router/reset/<%=token%>" method="POST">
            <h3 class=".fs-3">Password Reset</h3>
        <input type="password" class="form-control newpass" id="newpass" 
        placeholder="New password" name="newpass" aria-label="First name" minlength="6" required>
        <br>
        <div id="checkSpinner"></div>
        <input type="text" class="form-control confirm" 
        placeholder="confirm password" name="confirmPass" aria-label="Last name" id="confirm" onkeyup="myfunc()" onch minlength="6" required>
        <br>
        <button type="submit" class="btn btn-success" >submit</button>
        <p class="fs-3 error"></p>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
</script>
<script src="/index.js"></script>
</body>

</html>